(
    version: "1",
    author: "Suvayu Ali",
    name: "matplotlib",
    description: Some("Matplotlib documentation"),
    is_enabled: false,
    domains: [
        "matplotlib.org",
    ],

    urls: [
	"https://matplotlib.org/stable/plot_types/",
	"https://matplotlib.org/stable/gallery/",
	"https://matplotlib.org/stable/tutorials/",
	"https://matplotlib.org/stable/api/",
	"https://matplotlib.org/stable/users/",
    ],

    rules: []
)
